* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #17202a;
}

/* LAYOUT */
header {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 100%;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

main {
  height: 40vh;
  width: 100vw;
  color: #eee;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.leftsection {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.rightsection {
  width: 45rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 60px;
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  margin-top: 30px;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: white;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: white;
  color: #17202a;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffff00;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
  font-size: 40px;
}

p {
  margin-bottom: 20px;
  font-size: 30px;
}
